.onoffswitch {
  width: 97px;
  height: 32px;

  border: 2px solid var(--border-bg-color);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--indent-xxxs);
}

.onoffswitch:hover {
  cursor: pointer;
}
