.form__item_border_bottom {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-bg-color);
}

.form__item_border_bottom:last-child {
  border-bottom: initial;
}
