.text__word {
  height: var(--word-height);
  background-color: var(--text-color);
  margin-top: calc((var(--word-line-height) - var(--word-height)) / 2);
  margin-bottom: calc((var(--word-line-height) - var(--word-height)) / 2);
}

/* sorry about that :( */

.text_size_s .text__word {
  margin-top: 7px;
  margin-bottom: 4px;
}

.text_size_m .text__word {
  margin-top: 8px;
  margin-bottom: 5px;
}

.text_size_l .text__word {
  margin-top: 8px;
  margin-bottom: 7px;
}

.text_size_xl .text__word {
  margin-top: 8px;
  margin-bottom: 9px;
}

.text_size_xxl .text__word {
  margin-top: 9px;
  margin-bottom: 12px;
}
