.warning {
  min-height: 356px;
  margin-bottom: var(--indent(xxl))
}

.warning .placeholder {
  margin-top: var(--indent-m);
  margin-bottom: var(--indent-m);
}

@media screen and (max-width: 1144px) {
  .warning {
    min-height: 335px;
  }
}
